/* Importar TailwindCSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Estilos globales */
:root {
  --font-sans: Switzer, system-ui, sans-serif;
  --color-gray-50: oklch(.985 .002 247.839);
  --color-gray-900: oklch(.381 .176 304.987);
  --color-white: #fff;
}

/* Ajustes generales */
body {
  font-family: var(--font-sans);
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
  line-height: 1.5;
}

/* Enlaces */
a {
  @apply text-blue-500 no-underline; /* Use Tailwind classes */
}

/* Botones */
button {
  @apply bg-blue-500 text-white py-2 px-4 rounded; /* Use Tailwind classes */
}

button:hover {
  @apply bg-blue-600; /* Use Tailwind classes */
}

/* Clases reutilizables */
@layer components {
  .card {
    @apply bg-white rounded-lg shadow; /* Use Tailwind classes */
  }

  .card-title {
    @apply text-lg font-bold text-gray-900; /* Use Tailwind classes */
  }
}